{% extends 'beaglebone-black.jinja2' %}
{% set connection_commands = {'uart0': 'telnet ser2net 5001'} %}
{% set connection_list = ['uart0'] %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}
{% set hard_reset_command = '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 1 reboot' %}
{% set bootloader_prompt = '=>' %}
{% set power_off_command = '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 1 off' %}
{% set power_on_command = '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 1 on' %}
{% set interrupt_prompt = 'Press SPACE to abort autoboot in' %}
{% set interrupt_char = 'd' %}
{% set uboot_interrupt_newline = False %}
