{% extends 'x15.jinja2' %}
{% set power_off_command = '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 2 off' %}

{% set power_on_command = [
    '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 2 on',
    'curl -s http://admin:12345678@10.100.0.41/relay_en.cgi?pulse1=pulse -o /dev/null'
   ]
%}
{% set hard_reset_command = [
    '/opt/mrv-pdu/MRV-LX5210/mrv.py 10.100.0.40 2 reboot',
    'curl -s http://admin:12345678@10.100.0.41/relay_en.cgi?pulse1=pulse -o /dev/null'
   ]
%}

{% set connection_list = ['uart0'] %}
{% set connection_commands = {'uart0': 'telnet ser2net 5002'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}

{% set interrupt_prompt = "Press SPACE to abort autoboot" %}
{% set interrupt_char = (' ') %}
{% set uboot_interrupt_newline = False %}
